body{
    
}
.nav-link
{
    color: cyan ;
}
.navbar-brand
{
   
    height: 3.5rem;
}
.dropbtn
{
    background-color: #677977;
    border-width: 0rem;  
}
li {
    display: block;
    transition-duration: 0.5s;
   }
   
   li:hover {
     cursor: pointer;
   }
   
   ul li ul {
     visibility: hidden;
     opacity: 0;
     position: absolute;
     transition: all 0.5s ease;
     margin-top: 1rem;
     left: 0;
     display: none;
   }
   
   ul li:hover > ul,
   ul li ul:hover {
     visibility: visible;
     opacity: 1;
     display: block;
   }
   
   ul li ul li {
     clear: both;
     width: 100%;
   }
   .row
   {
       opacity: 0.8;
   }
   .description
   {
       line-height: 3rem;
       animation-play-state: running;
       font-size: 4rem;
       font-family: 'Metal Mania', cursive;
       width: 90%;
       padding-left: 15%;
       padding-top: 3rem;

   }
   .selection
   {
    font-family: 'Monoton', cursive;

font-size: 5rem;

   }
   .yohi
   {
    font-family: 'Stalinist One', cursive;
    color: ligh;
}
,.container-fluid
{
 
    border-width: 0px;
    margin: 0px;
}